@page "/"
@using Greener.Models


<div class="head2">
	<h1 class="title2">Plant List </h1>
	<button class="addBttn" @onclick="() => addPlantComponent = true"> Add new plant </button>
</div>

@if (addPlantComponent)
{
	<AddPlant/>
}

<table class="mainTable">
	<tr>
		<th>Plant Name</th>
		<th>Latin Name</th>
		<th>Last watered</th>
		<th>Last Feritilized</th>
		<th>Last cutting</th>
		
	</tr>	
		@foreach (var plant in plants)
		{
			<tr>
				<td> @plant.Name</td>
				<td> @plant.LatinName</td>
				<td> @plant.Watered.Last() <button onclick="">Water </button> </td>
				<td> @plant.Feritilized.Last() <button onclick=""> Feritilize </button></td>
			<td> @plant.Cutting.Last() <button onclick=""> Cut </button> </td>
			</tr>
		}
	
</table>


@code{
	public bool addPlantComponent;
	protected List<Plant> plants = new List<Plant>();
	protected Plant plant = new Plant();
	protected override async Task OnInitializedAsync ( )
	{
		var context = new PlantDAT();
		plants = await context.AllPlants();
	}
}
