@page "/"
@using Greener.DAL
@using Greener.Models

<div class="head2">
	
	<button class="addBttn" @onclick=@Show> Add new plant </button>
</div>
<div hidden="@IsShow"> <AddPlant/></div>


<h1 class="title2">Plant List   </h1>
<table class="mainTable">
	<tr>
		<th>Plant Name</th>
		<th>Latin Name</th>
		<th>Last watered</th>
		<th>Last Feritilized</th>
		<th>Last cutting</th>
		
	</tr>	
		@foreach (var plant in plants)
	{

			<tr>
			<td> @plant.Name</td>
			<td> @plant.LatinName</td>
			@if (!plant.Watered.Any())
			{
				<td>
					<input type="date" @bind="date">
					<button @onclick="()=> HandleWater(plant)"> water </button></td>
			}
			else
			{
			<td> @plant.Watered.Last()
				<input type="date" @bind= "date">
					<button @onclick="()=> HandleWater(plant)"> water </button>
				</td>
			}
			@if (!plant.Feritilized.Any())
			{
			<td>
					<input type="date" @bind="date">
					<button @onclick="()=> HandleFeritilize(plant)"> Feritilize </button>
				
				</td>
			}
			else
			{
				<td>
					@plant.Feritilized.Last() <input type="date" @bind="date">
					<button @onclick="()=> HandleFeritilize(plant)"> Feritilize </button>
				</td>
			}
			@if ( !plant.Cutting.Any() )
			{
				<td>

					<input type="date" @bind="date">
					<button @onclick="()=> HandleCutting(plant)"> Cutting </button>
				</td>
			}
			else
			{
				<td>
					@plant.Cutting.Last() 
					<input type="date" @bind="date">
					<button @onclick="()=> HandleCutting(plant)"> Cutting </button>
				</td>
			}							
			</tr>
		}
	
</table>


@code{
	public DateTime date { get; set; }
	protected List<Plant> plants = new List<Plant>();
	protected Plant plant = new Plant();
	private bool IsShow { get; set; } = false;
	private void Show() {
		IsShow = !IsShow;
	}

	protected override async Task OnInitializedAsync ( )
	{
		var context = new PlantDAL();
		plants = await context.AllPlants();
	}
	public void HandleWater(Plant plant)
	{

		var dateString = date.ToString();
		if (plant.Watered == null)
		{
			plant.Watered = new List<string>();
		}
		plant.Watered.Add(dateString);
		var context = new PlantDAL();
		context.UpdatePlant(plant);
	}
	public void HandleFeritilize(Plant plant)
	{ 
		var dateString = date.ToString();
		if ( plant.Feritilized == null )
		{
			plant.Feritilized = new List<string>();
		}
		plant.Feritilized.Add(dateString);
		var context = new PlantDAL();
		context.UpdatePlant(plant);
	}
	public void HandleCutting (Plant plant)
	{
		var dateString = date.ToString();
		if ( plant.Cutting == null )
		{
			plant.Cutting = new List<string>();
		}
		plant.Cutting.Add(dateString);
		var context = new PlantDAL();
		context.UpdatePlant(plant);
	}

}
